:root{
    /* -----------------color-------------- */
    --white-color:#FFFFFF;
    --skin-color: #DFBCA6;
    --brown-color: #A68272;
    --light-brown: #5A5656;
    --black-color:#0C0F26;
    --light-black: #333333;
    --light-white: #F7F3F0;

    /* --------------------size---------------- */
    --text-xl:75px;
    --text-lg:64px;
    --text-md-1:24px;
    --text-md:20px;
    --text-sm:18px;
    --text-base:16px;
}
.fs-75{
    font-size: var(--text-xl);
}
.fs-64{
    font-size: var(--text-lg);
}
.fs-20{
    font-size: var(--text-md);
}
.fs-16{
    font-size: var(--text-base);
}
.fs-18{
    font-size: var(--text-sm);
}
.fs-24{
    font-size: var(--text-md-1);
}
.fc-white{
    color: var(--white-color);
}
.bg-white{
    background: var(--white-color);
}
.fc-black{
    color: var(--black-color);
}
.bg-light-white{
    background: var(--light-white);
}
.fc-light-black{
    color: var(--light-black);
}
.bg-skin{
    background: var(--skin-color);
}
.bg-brown{
    background: var(--brown-color);
}
.fc-light-brown{
color: var(--light-brown);}