@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url(/assets/css/root.css);
.bg-img{
    background-image: url(/assets/images/bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    top:0;
}
.font-family{
    font-family: "Ubuntu", sans-serif;
}
.font-italic{
    font-style: italic;
}
.fw-300
{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-700{
    font-weight: 700;
}
.fw-500{
    font-weight: 500;
}
.max-w-1140{
    max-width: 1140px;
}
.font-normal{
    font-style: normal;
}
.max-auto{
    margin-left: auto;
    margin-right: auto;
}
.py-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.text-capital{
            text-transform: capitalize;
}
.text-center{
    text-align: center;
}
.lh-130{
        line-height: 130%;
}
.lh-23{
    line-height: 23px;
}
.lh-150{
    line-height: 150%;
}
.max-w-1032{
    max-width: 1032px;
}
.btn{
    border-radius: 127px;
    border: 1px solid #FFFFFF;
    padding: 25px 50px;
       
}
/* -----------------------section-1-------------------- */
.about{
        padding: 5px 20px;
        border: 1px solid #FFFFFF;
        border-radius: 31px;
}
.max-w-594{
    max-width: 594px;
}
.max-w-577{
    max-width: 577px;
}
.oppicity{
    opacity: 70%;
}
.mt-70{
    margin-top: 70px;
}