@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url(/assets/css/root.css);

.font-family {
    font-family: "Ubuntu", sans-serif;
}

.font-italic {
    font-style: italic;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.fw-500 {
    font-weight: 500;
}

.max-w-1140 {
    max-width: 1140px;
}

.font-normal {
    font-style: normal;
}

.max-auto {
    margin-left: auto;
    margin-right: auto;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-capital {
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

.lh-130 {
    line-height: 130%;
}

.lh-23 {
    line-height: 23px;
}

.lh-150 {
    line-height: 150%;
}

.lh-28 {
    line-height: 28px;

}

.lh-18 {
    line-height: 18px;
}

.max-w-1032 {
    max-width: 1032px;
}

.btn {
    border-radius: 127px;
    border: 1px solid #FFFFFF;
    padding: 25px 50px;

}

.hero-bg {
    background-image: url(/assets/images/hero\ bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.min-vh-100 {
    min-height: 100vh;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* -----------------------section-1-------------------- */
.about {
    padding: 5px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 31px;
}

.max-w-594 {
    max-width: 594px;
}

.max-w-577 {
    max-width: 577px;
}

.oppicity {
    opacity: 70%;
}

.mt-70 {
    margin-top: 70px;
}

/* ------------------section-2------------------ */

.my-70 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.my-file {
    gap: 120px;
}

/* ------------------section-3------------------ */

.mt-100 {
    margin-top: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.images-box {
    max-width: 362.31px;

}

.images-icon {
    width: 160px;
    height: 68px;
    top: 28%;
    left: 12%;
    position: absolute;
}

.icon-1 {
    top: 18%;
    left: 6%;
}

.images-icon-box {
    width: 68px;
    height: 68px;
    background:
        linear-gradient(0deg, #A68272, #A68272);
}

.gap-13 {
    gap: 13px;
}

.icon-2 {
    left: 6%;
    top: 12%;
}

.icon-3 {
    left: 7%;
    top: 4%;
}

/* ------------------section-4------------------ */
.bg-mountain {
    background-image: url(/assets/images/bg-mountain.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.max-w-738 {
    max-width: 739px;
}

.max-w-636 {
    max-width: 636px;
}

.card {

    background: #DFBCA6;
    border: 3px solid #A68272;
    border-radius: 17px;
    padding: 21px 25px;
        max-width: 636px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.mini-card {
    max-width: 586px;
    background: #FFFFFF;
    border: 1px solid #A68272;
    border-radius: 120px;
    padding: 15px 20px;
}

.my-90 {
    margin-top: 90px;
    margin-bottom: 90px;
}

.gap-35 {
    gap: 35px;
}

.mt-80 {
    margin-top: 80px;
}

.box {
    width: 60px;
    height: 60px;
    border-radius: 14px;
    background-color: #FFFFFF;
   
}

.mini-card-content {
    max-width: 419px;

}

.mini-card:hover {
    border-radius: 16px;
    padding: 26px;

    .box {
        box-shadow: 0px 4px 31.4px 0px #5793E9;
        background:
            linear-gradient(180deg, #5E65D4 -9.38%, #5692E8 55.41%);
          
    }
}

.mini-card:hover .content-1 {
    display: block !important;
    transition: all 700ms linear;
}

.mini-card:hover .mini-card-content {
    .pt-20 {
        padding-top: 5px;
    }
}

.content-1 {
    display: none;
}

.mb-24 {
    margin-bottom: 24px;
}

.pt-20 {
    padding-top: 20px;
}

/* -------------------section-5------------------ */
.bg-raduis {
    border-radius: 16px;
    padding-left: 50px;
}

.max-w-512 {
    max-width: 512px;
}

.gap-21 {
    gap: 21px;
}

.max-w-491 {
    max-width: 491px;
}

.oppicity-1 {
    opacity: 80%;

}

.max-w-1144 {
    max-width: 1144px;
}

.dots {
    top: 20%;
    left: 0;
    position: absolute;
}

.dots-1 {
    top: 20%;
    right: 0;
    position: absolute;
}

/* --------------------section-6--------------------- */
.max-w-735 {
    max-width: 735px;
}

.max-w-675 {
    max-width: 675px;
}

.bg-mountain-2 {
    background-image: url(/assets/images/mountaine2.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    width: 100%;
    min-height: 361px;
}

.max-w-838 {
    max-width: 838px;
    background: #FFFFFF;
    border: 3px solid #A68272;
    border-radius: 17px;
    padding: 38px 42px;
}

.col-box {
    /* max-width: 365px; */
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 16px;
    padding: 20px 23px;
}

.icon-box {
    border-radius: 14px;
    width: 73px;
    height: 73px;
    background:
        linear-gradient(0deg, #A68272, #A68272);

}

.col-box:hover {
    .icon-box {
        box-shadow: 0px 4px 31.4px 0px #DAAF95;
    }
}

.pb-60 {
    padding-bottom: 60px;
}

/* ----------------------footer------------------- */
.max-w-401 {
    max-width: 401px;
}

.max-w-507 {
    max-width: 507px;
}

.bg-footer {
    background-image: url(/assets/images/Footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}


.text-decroation {
    text-decoration: none;
}

.list-type {
    list-style-type: none;
}

.gap-20 {
    gap: 20px;
}

.max-w-142 {
    max-width: 142px;
}

.gap-11 {
    gap: 11px;
}

.footer-icon-box {
    width: 40px;
    height: 40px;
    border-radius: 102px;
    background:
        linear-gradient(0deg, #A68272, #A68272);
    backdrop-filter: blur(60.29999923706055px);
}
.footer-icon-box:hover{
    background: #FFFFFF;}
    .footer-icon-box:hover svg path{
        fill: #A68272;
    }

.line {

    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.pt-50 {
    padding-top: 50px;
}
.mt-30{
    margin-top: 30px;
}



@media(max-width:992px) {
    .center {
        text-align: center;
    }

    .md-reverse {
        flex-direction: column-reverse;
    }

    .lg-center {
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .mini-card {
        padding: 10px 15px;
    }
/* 
    .box {
        margin-left: 10px;
        width: 53px;
      
    } */

 .mini-card:hover{
    padding: 5px;
 }

    .bg-raduis {
        padding-left: 10px;
        padding-right: 10px;
    }

    .dots,
    .dots-1 {
        display: none;
    }



    .col-box {
        padding: 10px;
    }

    .gap-21 {
        gap: 21px;
    }


}

@media(max-width:768px) {
    .mb-20 {
        margin-bottom: 20px;
    }

    .top-margin {
        margin-top: 20px;
    }

    .btn {
        width: 100%;
        padding: 15px;
    }

    .mini-card {
        padding:  10px;
    }
.gap-35{
    gap: 10px;
}
 
/* 
    .box {
        margin-left: 10px;
        width: 43px;
    } */

    .photo {
        display: none;
    }

    .silder {
        display: flex;
        gap: 70px;
    }

    .max-w-838 {
        border: none;
        background: none;
        max-width: none;
        padding: 0;
        border-radius: none;
    }

    .gap-20 {
        gap: 10px;
    }
.mt-30{
    margin-top: 0;
}
.icon-1 {
    top: 4%;
    left: 6%;
}
.icon-2 {
    top: 4%;
    left: 6%;
}
.card{
    padding: 10px;
}
}

@media(max-width:576px) {
    .gap-20 {
        gap: 8px;
    }
}